
  @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
  /* font-family: 'DM Serif Display', serif; */
 
.compus{
    background-image: url(../images/site1.png);
    background: url(../images/site1.png) no-repeat center center scroll; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 
    
    height: 800px;
}
.compus h1{text-align: center;
width: 1200px;
font-size: 7em;
color: white;
margin-left: 22%;
font-family: 'DM Serif Display', serif;}
.compus h6{margin-left: 50%;
padding-top: 200px;font-size: 1.5em;padding-top: 100px;
color: white;}
.compus h3{
    color: white;
}
.home {color: white;
  margin-left: 65%;
margin-top: -2%; }
a{color: white;
margin-left: 45px; 
text-decoration: none;}
button{margin-left: 50%;
}
.second{
    background: url(../images/bg.png) no-repeat center center scroll; 
  color: white;
    background-size: cover; 
    display: block;
    text-align: center;
/* 
    height: 30%; */
}
.one, .two, .three, .four{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
.one p, .two p, .three p, .four p{
    text-align: justify !important;
  
}
.second h4 {color: white;
padding-top: 20px;margin-left: 6%;
}
.second p {color: white; width: 400px;
    text-align: center;}
/* .uni {
margin-left: 10px;
padding-top: 3%; 
}

.ser { width: 400px;
text-align: center;
margin-left: 26%;
margin-top: -10%;
}
.dig { width: 400px;
    text-align: center;
    margin-left: 51%; */
   

    /* .br { width: 400px;
        text-align: center;
        margin-left: 75%;
    margin-top: -10%;}
    .dia {width: 25px;
    margin-bottom: -10%;}
   .pen{width: 30px;
margin-bottom: -10%;}
.ro{margin-bottom: -15%;}
.pc{margin-bottom: -10%;}
.last{background-image: url(../images/bg4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    height: 90%;
    padding-top: 6%;
}
.last h2{color: white;
margin-left: 45%;
}
.dia{margin-left: 9%;
width: 1.5%;}

.w{margin-left:35%;
padding-top: 10%;}
.last h4{color: white;}
.last p{color: white;;}
.web{width: 20%;text-align: center;margin-left: 10%;}
.digital{text-align: center;margin-left: 10px;margin-top: -20%;}

.para{text-align: center;padding-top: 2px;width: 50%;margin-left: 22%;} */
.web , .digital , .int {
    display: inline-block;
    width: 20%;
    margin-left: 10%;
    padding-top: 10%;
    text-align: center;
   
   color: white;
}
.web p, .digital p, .int p {text-align: justify;
}
.last{background-image: url(../images/bg4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
margin-top: -39px;}
    .{ color: white;}
    .para{color: white;
        text-align: center;
        width: 50%;
        margin-left: 25%;
    padding-top: 2%;}
    .last h2{color: white;}
    .w{text-align: center;
    font-size: 2em;
padding-top: 5%;}
    .last h2{text-align: center;
    font-size: 3em;
padding-top:10% ;}
.how  {text-align: center;
color: white;font-size: 3em;
padding-top: 50px;}
.lp{text-align: center;
color: white;
padding-bottom: 50px;}