*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
   text-align: center;
}
#reg{ 
    justify-content: center;
    width: 400px;
    height: 500px;
padding-top: 70px;
border: 1px black solid;
background-color: azure;
margin-left: 280px;
}
